* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.settings {
  padding-right: 50px;
}

h1 {
  padding: 20px 0;
}

.sliderDiv {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.applyBtn {
  padding: 5px 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid;
  border-radius: 5px;
}

.applyBtn:hover {
  background-color: #e4e4e4;
  cursor: pointer;
}

.grid {
  display: flex;
  border: 2px solid #000;
  max-width: 500px;
  max-height: 500px;
  min-width: 500px;
  min-height: 500px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.cell {
  flex: auto;
}

/* class to toggle for drawing */
.color {
  background-color: #000;
}
