* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.grid-container {
  border: 1px solid black;
  width: 960px;
  height: 960px;
  margin: 100px auto;
  display: grid;
}

.item {
  background-color: white;
  border: 1px solid black;
}

.hover {
  background-color: rgb(200, 200, 200);
}
